/* THIS IS MY STYLESHEET (e.g. "assets/styles/my-style.css") */

:root {
  --accent-color: #346FB3
}
  
p {
  font-family: Arial, Helvetica, sans-serif;
  color: '#ccc';
}

h1 {
  font-family: Arial, Helvetica, sans-serif
}

h2 {
  font-family: Arial, Helvetica, sans-serif
}


.accent-section {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.centered {
  justify-content: center;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}

.centered h2 {
  padding-left: 15%;
  padding-right: 15%;
  font-size: large;
}